@import "../common/css/common.css";

.filter-section {
  padding: 15px !important;
}

/* Tag buttons */

.tag-btn-on {
  color: var(--primary-main-text);
  background: var(--primary-main-1);
  border: none;
  height: 30px;
  font-size: 15px;
  margin: 5px;
  box-shadow: 1px 1px 2px var(--primary-main-3);
}
.tag-btn-on:active,
.tag-btn-on:hover,
.tag-btn-on:focus {
  color: var(--primary-main-text) !important;
  background: var(--primary-light) !important;
  border: none !important;
  border-style: none !important;
  height: 30px;
  font-size: 15px;
  margin: 5px;
  box-shadow: 1px 1px 2px var(--primary-main-3);
}

.tag-btn-off {
  color: var(--primary-main-text);
  background: var(--primary-bg-dark);
  border: none;
  height: 30px;
  font-size: 15px;
  margin: 5px;
}
.tag-btn-off:active,
.tag-btn-off:hover,
.tag-btn-off:focus {
  color: var(--primary-main-text) !important;
  background: var(--primary-bg-2) !important;
  border: none !important;
  border-style: none !important;
  box-shadow: none !important;
  height: 30px;
  font-size: 15px;
  margin: 5px;
}

/* On Exchange button */

.listed-btn-on {
  color: var(--primary-main-text);
  background: var(--secondary-cool-3);
  border: none;
  font-size: 15px;
  margin: 5px;
  box-shadow: 1px 1px 3px var(--primary-bg-dark);
}
.listed-btn-on:active,
.listed-btn-on:hover,
.listed-btn-on:focus {
  color: var(--primary-main-text) !important;
  background: var(--secondary-cool-2) !important;
  border: none !important;
  border-style: none !important;
  font-size: 15px;
  margin: 5px;
  box-shadow: 1px 1px 3px var(--primary-bg-dark);
}

.listed-btn-off {
  color: var(--primary-main-text);
  background: var(--primary-bg-dark);
  border: none;
  font-size: 15px;
  margin: 5px;
}
.listed-btn-off:active,
.listed-btn-off:hover,
.listed-btn-off:focus {
  color: var(--primary-main-text) !important;
  background: var(--primary-bg-2) !important;
  border: none !important;
  border-style: none !important;
  box-shadow: none !important;
  font-size: 15px;
  margin: 5px;
}

/* Toggle all tags button */

.toggle-all-tags-btn {
  color: var(--primary-main-text);
  background: var(--secondary-cool-2);
  border: none;
  font-size: 15px;
  margin: 5px;
  box-shadow: 1px 1px 3px var(--primary-bg-dark);
}
.toggle-all-tags-btn:active,
.toggle-all-tags-btn:hover,
.toggle-all-tags-btn:focus {
  color: var(--secondary-cool-3) !important;
  background: var(--secondary-cool-1) !important;
  border: none !important;
  border-style: none !important;
  font-size: 15px;
  margin: 5px;
  box-shadow: 1px 1px 3px var(--primary-bg-dark);
}
