@import "../common/css/common.css";

.stats-section {
  padding: 15px !important;
}

.ksm-dot-rate {
  color: var(--primary-main-3);
}

.chart {
  color: var(--primary-main-3);
  height: 300px;
  padding-top: 15px;
}
