@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Comfortaa");
@import url("https://fonts.googleapis.com/css?family=Source Code Pro");
@import "./common/css/common.css";

body {
  margin: 0px;
  font-family: "Montserrat";
  background-color: white !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  padding: 0 0 0 0;
  /* margin: 0px; */
}

.container-fluid {
  padding: 0 0 0 0;
  /* margin: 15px 15px 15px 15px; */
}
